* {
    margin: 0;
    padding: 0;
    background-color: #0B316A;
    align-items: center;
    text-align: center;
    color: white;
}

img {
    height: 250px;

}

button {
    background-color: transparent;
    border: none;
    display: inline;
}

.Biscoito {
    display: inline;
    

}

.Restart {
    display: inline;
}

button:hover {
    cursor: pointer;
    opacity: 70%;
}


nav {
    background-color: #1D4C92;
    height: 60px;
    width: 100%;
    
}

.h1text {
    font-style: italic;
    font-weight: 100;
}

.h1text2 {
    font-weight: 50;
}

.textnav {
    padding-top: 20px;
    font-weight: 500;
    font-size: 30PX;
    color: #E4C05C;

}

.restart {
    height: 75px;
}
